/* ********** CUSTOM PROPERTIES *********** */

:root {
  --color-red: #bd350f;
  --color-yellow: #ffab24;
  --color-green: #9ca224;
  --color-background: #ffe3bb;
  --color-text-first: #461608;
  --color-text-second: #291f1c;
  --color-black: #161616;
  --color-dark-grey: #353535;
  --color-grey: #818181;
  --color-ligth-grey: #b2b2b2;
  --color-white: #ffffff;
  --font: "Zilla Slab", serif;
}

/* ************ RESET ********* */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: var(--font);
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-background);
}

a {
  color: var(--color-green);
  font-size: 1rem;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.6;
}

h1 {
  color: var(--color-text-first);
  font-size: 2rem;
  margin: 0;
}

h2 {
  color: var(--color-text-first);
  font-size: 1.75rem;
  margin: 0;
}

h3 {
  color: var(--color-text-first);
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  color: var(--color-text-first);
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  color: var(--color-text-first);
  font-size: 1rem;
  margin: 0;
}

h6 {
  color: var(--color-text-first);
  font-size: 0.875rem;
  margin: 0;
}

p {
  color: var(--color-text-second);
  font-size: 1rem;
}

small {
  color: var(--color-text-second);
  font-size: 0.625rem;
}

img {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

/* *********** SITE STYLES ******** */

.hero-image {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-areas:
    "image1   image2"
    "logo     logo"
    "image3   image4";

  margin-bottom: 4rem;
}

.hero-image .image-1 {
  background-image: url("./assets/images/hero-image1.jpg");
  background-size: cover;
}

.hero-image .image-2 {
  background-image: url("./assets/images/hero-image2.jpg");
  background-size: cover;
}

.hero-image .logo {
  grid-area: logo;
  background-image: url("./assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-image .image-3 {
  background-image: url("./assets/images/hero-image3.jpg");
  background-size: cover;
}

.hero-image .image-4 {
  background-image: url("./assets/images/hero-image4.jpg");
  background-size: cover;
}

.hero-image .logo {
  grid-area: logo;
  padding: 0.5rem 0.2rem;
}

h1 {
  text-align: center;
}
